services:
    chat_activity_listener:
        class: Chat\ChatBundle\EventListener\ActivityListener
        arguments: [@security.context, @doctrine.orm.entity_manager]
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: updateLastActivity }